
<p>こんにちは <%= @user.name %>さん</p>

<p>
Calcio.comへようこそ！下のリンクをクリックして認証してください！
</p>

<h1>
<%= link_to "認証", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
</h1>                        
                            