<h1>Calcio.com</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Calcio.comへようこそ！下のリンクをクリックして認証してください！
</p>

<%= link_to "認証", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>