<footer class="footer">
  <medium>
    Calcio.com by Kazushi Murata
  </medium>
  <nav>
    <ul>
      <li><a href="https://goo.gl/forms/L3rY78O0PTtYkGox1">お問い合わせ</a></li>
    </ul>
  </nav>
</footer>